* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.firstBackground {
  position: relative;
  height: 100vh;
  background: url(/img/MB.jpg) center center / cover;
}
span {
  color: rgb(171, 49, 171);
}

#map {
  height: 65vh;
  width: 100vw;
  z-index: 0;
}
#geoG {
  color: rgb(31, 19, 161);
}
#geo {
  font-size: 3rem;
  font-style: italic;
  color: rgb(171, 49, 171);
}
#mi {
  font-size: 2rem;
  font-style: italic;
  color: rgb(210, 190, 40);
}

#map {
  height: 65vh;
  width: 100vw;
  z-index: 0;
}

.container {
  position: absolute;
  top: 5vh;
  left: 50%;
  width: 40%;
  margin-left: -20%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: fit-content fit-content fit-content;
  gap: 2rem;

  z-index: 1;
}

.title {
  font-size: 1.5rem;
  color: white;
  font-weight: 400;
  text-align: center;
}

.searchBox {
  background-color: white;
  width: 35vw;
  height: 8vh;
  justify-self: center;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 8fr 1fr;
  align-items: center;
  justify-content: center;
}

.searchInput {
  resize: none;
  height: 90%;
  margin: 0 1vw;
  border: none;
  line-height: 7vh;
  font-size: 1.2rem;
}

.searchInput:focus {
  border: none;
  outline: none;
  line-height: 7vh;
  font-size: 1.2rem;
}

.searchInput::placeholder {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 7vh;
  color: rgb(172, 172, 172);
}

.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(171, 49, 171);
  cursor: pointer;
}

.searchButton:hover {
  opacity: 0.7;
}

.infoBox {
  width: 70vw;
  height: 20vh;
  background-color: white;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 5px 1fr 5px 1fr 5px 1fr;
  justify-content: center;
  padding: 4vh 0vw;
  gap: 0.3rem;
}

.ip,
.timezone,
.isp,
.location {
  display: grid;
  grid-template-rows: 0.4fr 1fr;
  padding: 0 1.5vw;
}

.header {
  text-align: left;
  font-size: 0.8rem;
  color: hsl(0, 0%, 59%);
  font-weight: 600;
  letter-spacing: 1px;
}

.content {
  font-size: 1.4rem;
  color: rgb(0, 0, 44);
  font-weight: 600;
}

.line {
  width: 3px;
  height: 100%;
  background-color: hsl(0, 0%, 59%);
  justify-self: center;
}

h4 {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.95);
  width: 80vw;
  height: 30vh;
  font-size: 2rem;
  color: rgb(171, 49, 171);
}

#loginFormBtn {
  width: 120px;
  height: 40px;
  background-color: black;
  color: white;
  border: 2px solid rgb(171, 49, 171);
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
  position: absolute;
  top: 10px;
  right: 10px;
}

#loginFormBtn:hover {
  background-color: white;
  color: black;
}
#loginContainer {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 1;
}

#loginBtn {
  background-color: rgb(210, 190, 40);
}

#validateBtn {
  background-color: rgb(32, 167, 32);
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  border: 2px solid rgb(171, 49, 171);
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
  margin: 10px;
}
#loginBtn:hover {
  background-color: white;
  color: black;
}
#userName,
#passWord,
#loginBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 300px;
  font-size: 20px;
  margin: 10px;
  z-index: 999;
}
#logoutBtn {
  width: 30vh;
  height: 7vh;
  background-color: black;
  color: white;
  border: 2px solid rgb(171, 49, 171);
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
  margin: 10px;
}

#logoutBtn:hover {
  background-color: white;
  color: black;
}
