* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.bold-text {
  font-weight: bold;
}

.firstBackground {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: url(/img/MB.jpg) center center / cover;
}

span {
  color: rgb(171, 49, 171);
}

#map {
  height: 65vh;
  width: 100vw;
  z-index: 0;
}

#geoG {
  color: rgb(31, 19, 161);
}

#geo {
  font-size: 3rem;
  font-style: italic;
  color: rgb(171, 49, 171);
}

#mi {
  font-size: 2rem;
  font-style: italic;
  color: rgb(210, 190, 40);
}

.container {
  position: absolute;
  top: 5vh;
  left: 50%;
  width: 40%;
  margin-left: -20%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: fit-content fit-content fit-content;
  gap: 2rem;

  z-index: 1;
}

.title {
  font-size: 1.5rem;
  color: white;
  font-weight: 400;
  text-align: center;
}

.searchBox {
  background-color: white;
  width: 35vw;
  height: 6vh;
  justify-self: center;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 8fr 1fr;
  align-items: center;
  justify-content: center;
}

.searchInput {
  resize: none;
  height: 90%;
  margin: 0 1vw;
  border: none;
  line-height: 7vh;
  font-size: 1.2rem;
}

.searchInput:focus {
  border: none;
  outline: none;
  line-height: 7vh;
  font-size: 1.2rem;
}

.searchInput::placeholder {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 7vh;
  color: rgb(172, 172, 172);
}

.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(171, 49, 171);
  cursor: pointer;
}

.searchButton:hover {
  opacity: 0.7;
}


/* GPS icon in input field */
.gpsWrapper {
  position: relative; /* required for the pseudo-element to work */
  pointer-events: mouse;
}

.gpsIcon {
  /* adjust the size and position of the icon as needed */
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer; /* change the cursor to a hand when hovering over the icon */
}

/* GPS icon in input field (active --> event listener) */
.gpsWrapper::before {
  
  background-image: url(../img/location.png);
  background-size: 35px 35px; /* adjust the size of the icon */
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer; /* change the cursor to a hand when hovering over the icon */
}

.infoBox {
  width: 70vw;
  height: 20vh;
  background-color: white;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 5px 1fr 5px 1fr 5px 1fr;
  justify-content: center;
  padding: 4vh 0vw;
  gap: 0.3rem;
}

.ip,
.timezone,
.isp,
.location {
  display: grid;
  grid-template-rows: 0.4fr 1fr;
  padding: 0 1.5vw;
}

.header {
  text-align: left;
  font-size: 0.8rem;
  color: hsl(0, 0%, 59%);
  font-weight: 600;
  letter-spacing: 1px;
}

.content {
  font-size: 1.4rem;
  color: rgb(0, 0, 44);
  font-weight: 600;
}

.line {
  width: 3px;
  height: 100%;
  background-color: hsl(0, 0%, 59%);
  justify-self: center;
}

ul {
  list-style-type: none;
}

#loggedinView {
  margin-top: 20px;
}

#loggedinView p {
  color: black;
}

h4 {
  background-color: white;
  width: 70vw;
  height: 18vh;
  z-index: 99;
  font-size: 2ch;
  font-weight: 100;
  color: rgb(171, 49, 171);
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

h5 {
  font-size: 2ch;
}

#newH2 {
  width: 700px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px; 
  font-size: 1.8ch;
  background-color: white;
  border: 3px solid rgb(171, 49, 171);
  color: black;
  inline-size: min-content;
  border-radius: 15px;
}


#newH3 {
  background-color: white;
  border-radius: 15px;
  width: 350px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  margin: 0 auto; /* horizontally center the element */
} 

.displayBoxes {
  font-size: 1.2ch;
  border: 1px solid rgb(171, 49, 171);
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  width: 100%;
}

li.displayBoxes {
  list-style: none;
  font-weight: 100;
}


.hash:hover {
  background-color: rgb(209, 204, 204);
}


.hash[data-hash]:hover {
  background-color:rgb(209, 204, 204);
}

#secondBackground {
  position: relative;
  height: 1000vh;
  width: 100vw;
  background-color: black;
  background-attachment: scroll; /* doesn*t work here */
}

.styled-button {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  cursor: pointer;
}

.styled-button:hover {
  border-color: rgb(171, 49, 171);
  color: rgb(171, 49, 171);
}

.styled-button-white {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  cursor: pointer;
  z-index: 99;
}

.styled-button-white:hover {
  border-color: rgb(171, 49, 171);
  color: rgb(171, 49, 171);
  box-shadow: 0 0 6px white; /* Glow on Validate button*/
}

.styled-input {
  border-radius: 5px;
  border: 2px solid black;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#validateButton {
  position: fixed;
  display: flex;
  bottom: 5px;
  left: 5px;
}

#validateButton:hover {
  opacity: 80%;
}

#validationStatus::before {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: "";
}

#validationStatus.red::before {
  background-color: red;
}

#validationStatus.green::before {
  background-color: green;
}
